# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Project specific folder structure
calibration_images/*
!calibration_images/.gitkeep
calibration_data/*
!calibration_data/.gitkeep